// Copyright 2019, Panajiotis Christoforidis <panajiotis@christoforidis.net>
// SPDX-ID: GPL-3.0-or-later

code {
  &::-webkit-scrollbar {
  width: 5px;
}

  /* Track */
  &::-webkit-scrollbar-track {
    background: #000;
    border: 1px solid black;
    width: 5px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #555;
    width: 5px;
    border-radius: 400px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: darken(#fff, 20);
  }
}